In [14]:
## Importing required packages
import pandas as pd 
import numpy as np

In [15]:
raw_data_IV4 = pd.read_csv("C:/Users/VIOLIN/Desktop/Final-Project_Harshini-/Project Part -2/Data part2/taxation.csv")
##Printing data
raw_data_IV4.head()

,Country,Overall Rank,Overall Score,Corporate Tax Rank,Individual Taxes Rank,Consumption Taxes Rank,Property Taxes Rank,International Tax Rules Rank
0,Estonia,1,100.0,2,1,9,1,16
1,Latvia,2,84.4,1,5,26,6,9
2,New Zealand,3,82.4,24,4,6,2,20
3,Switzerland,4,77.1,14,14,1,34,3
4,Luxembourg,5,76.0,26,20,3,14,6

In [16]:
IV4 = raw_data_IV4[["Country","Overall Rank","Overall Score"]]
IV4.columns = ['country','Tax Rank','Tax Score']

IV4.head()

       country  Tax Rank  Tax Score
0      Estonia         1      100.0
1       Latvia         2       84.4
2  New Zealand         3       82.4
3  Switzerland         4       77.1
4   Luxembourg         5       76.0

## Unfortunately this dataset is available only for OECD countries. So let us see if we can incorporate this into the model or not!!

In [17]:
##creating a output csv file
IV4.to_csv("C:/Users/VIOLIN/Desktop/Final-Project_Harshini-/Project Part -2/Processed data part2/IV4_output.csv", sep=',',index=False)