## Sustainability parameter 2 - Education

In [33]:
## Webscrapping countrywise greenhouse gas emissions data for 2017!

import requests
import urllib.request
import time
import lxml.html as lh
import pandas as pd
import re
from bs4 import BeautifulSoup
from pprint import pprint

#Create a handle, page, to handle the contents of the website
URL = 'http://data.uis.unesco.org/index.aspx?queryid=3839'
page = requests.get(URL)

pprint(page)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

<Response [200]>

In [34]:
soup = BeautifulSoup(page.content, 'html.parser')
#soup.find('a')['href']
#soup.find(qid="3839")['href']
#soup.findAll('a')
#Check the length of the first 12 rows
#[len(T) for T in tr_elements]

In [35]:
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[2]:
    i+=1
    name=t.text_content()
    #print(i,name)
    print('%d:"%s"'%(i,name))
    col.append((name,[]))
#print(col)

1:"Time"
2:"2014"
3:"2015"
4:"2016"
5:"2017"
6:"2018"
7:"2019"
8:"2020"

In [36]:
### #Since out first row is the header, data is stored on the second row onwards

##Last row of data is 382
for j in range(5,len(tr_elements)-6):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)>=10:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content()
        data = data.replace("Ã", "A")
        if (data != ".."):
            data1 = "".join(re.split("[^a-zA-Z0-9. ]*", data))
        else:
            data1 = data
        if (data1 == 'n'):
            data1 = ".."
        print(i, "data1: ", data1)
        #data1 = ",".join(re.split("[^0-9]*", data))
        #Check if row is empty
        #if i>1:
        #Convert any numerical value to integers
            #try:
            #    data2=int(data1)
            #except:
            #    pass
        #Append the data to the empty list of the i'th column
        if(data1 != ''):
            col[i][1].append(data1)
            if(i==0):
                if(data1 == "".join(re.split("[^0-9. ]*", data1))):
                    col[i][1].remove(data1)
        else:
            i-=1
        data1 = ''
        data = ''
        #Increment i for the next column
        i+=1

0 data1:  Afghanistan
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  2791022.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  2791022.00
0 data1:  Aland Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Albania
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  3076.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  3076.00
0 data1:  Algeria
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  156217.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  156217.00
0 data1:  American Samoa
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Andorra
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Angola
1 data1:
1 data1:  1164512.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Anguilla
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Antigua and Barbuda
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Argentina
1 data1:
1 data1:  49247.00
2 data1:  30736.00
3 data1:  34779.00
4 data1:  ..
5 data1:  35374.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  49247.00
0 data1:
0 data1:  30736.00
0 data1:
0 data1:  34779.00
0 data1:  Armenia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  586.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Aruba
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  76.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  76.00
0 data1:  Australia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Austria
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Azerbaijan
1 data1:
1 data1:  721.00
2 data1:  926.00
3 data1:  928.00
4 data1:  929.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  721.00
0 data1:  Bahamas
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Bahrain
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  975.00
4 data1:  763.00
5 data1:  599.00
6 data1:  ..
7 data1:  ..
0 data1:  Bangladesh
1 data1:
1 data1:  4366402.00
2 data1:  3693119.00
3 data1:  2381102.00
4 data1:  2166681.00
5 data1:  2052958.00
6 data1:  1580617.00
7 data1:  ..
0 data1:  Barbados
1 data1:
1 data1:  34.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  34.00
0 data1:  Belarus
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  1395.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1395.00
0 data1:  Belgium
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Belize
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Benin
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  890035.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  890035.00
0 data1:  Bermuda
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Bhutan
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  10406.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Bolivia Plurinational State of
1 data1:
1 data1:  ..
2 data1:  12547.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Bosnia and Herzegovina
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Botswana
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Brazil
1 data1:
1 data1:  398016.00
2 data1:  355000.00
3 data1:  303694.00
4 data1:  287495.00
5 data1:  269941.00
6 data1:  ..
7 data1:  ..
0 data1:  British Virgin Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Brunei Darussalam
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  203.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  203.00
0 data1:  Bulgaria
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Burkina Faso
1 data1:
1 data1:  1728217.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  1651809.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1651809.00
0 data1:  Burundi
1 data1:
1 data1:  406774.00
2 data1:  ..
3 data1:  ..
4 data1:  247640.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Cambodia
1 data1:
1 data1:  313415.00
2 data1:  249100.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Cameroon
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  745178.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  745178.00
0 data1:  Canada
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Cabo Verde
1 data1:
1 data1:  ..
2 data1:  1935.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Cayman Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Central African Republic
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  623445.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  623445.00
0 data1:  Chad
1 data1:
1 data1:  ..
2 data1:  1740408.00
3 data1:  2021100.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1740408.00
0 data1:  Channel Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Chile
1 data1:
1 data1:  ..
2 data1:  18201.00
3 data1:  ..
4 data1:  27512.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  China
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  375315.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  375315.00
0 data1:  China Hong Kong Special Administrative Region
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  China Macao Special Administrative Region
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  152.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Colombia
1 data1:
1 data1:  125264.00
2 data1:  125974.00
3 data1:  115355.00
4 data1:  ..
5 data1:  100407.00
6 data1:  ..
7 data1:  ..
0 data1:  Comoros
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  35376.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  35376.00
0 data1:  Congo
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  175683.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  175683.00
0 data1:  Cook Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Costa Rica
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  4465.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  4465.00
0 data1:  CAte dIvoire
1 data1:
1 data1:  2173228.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  2153690.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  2153690.00
0 data1:  Croatia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Cuba
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  CuraAao
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Cyprus
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Czechia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  2218.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Democratic Peoples Republic of Korea
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Democratic Republic of the Congo
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  2181069.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Denmark
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Djibouti
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Dominica
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Dominican Republic
1 data1:
1 data1:  44321.00
2 data1:  45785.00
3 data1:  22325.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Ecuador
1 data1:
1 data1:  26728.00
2 data1:  26064.00
3 data1:  28549.00
4 data1:  22850.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Egypt
1 data1:

1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  1975700.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  El Salvador
1 data1:
1 data1:  ..
2 data1:  26578.00
3 data1:  25856.00
4 data1:  25971.00
5 data1:  25663.00
6 data1:  ..
7 data1:  ..
0 data1:  Equatorial Guinea
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Eritrea
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  42012.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  42012.00
0 data1:  Estonia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Eswatini
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  10901.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  10901.00
0 data1:  Ethiopia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  6272645.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  6272645.00
0 data1:  Faeroe Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Falkland Islands Malvinas
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Fiji
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  373.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Finland
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  France
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  French Guiana
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  French Polynesia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Gabon
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  37498.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  37498.00
0 data1:  Gambia
1 data1:
1 data1:  ..
2 data1:  140195.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Georgia
1 data1:
1 data1:  1603.00
2 data1:  ..
3 data1:  ..
4 data1:  1761.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Germany
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Ghana
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  434946.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  434946.00
0 data1:  Gibraltar
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Greece
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  8834.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  8834.00
0 data1:  Greenland
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Grenada
1 data1:
1 data1:  149.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  149.00
0 data1:  Guadeloupe
1 data1:
1 data1:  71.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  71.00
0 data1:  Guam
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Guatemala
1 data1:
1 data1:  190279.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Guernsey
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Guinea
1 data1:
1 data1:  1238851.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  GuineaBissau
1 data1:
1 data1:  136348.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  136348.00
0 data1:  Guyana
1 data1:
1 data1:  5184.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  5184.00
0 data1:  Haiti
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  365945.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  365945.00
0 data1:  Holy See
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Honduras
1 data1:
1 data1:  82230.00
2 data1:  77685.00
3 data1:  77171.00
4 data1:  ..
5 data1:  70561.00
6 data1:  ..
7 data1:  ..
0 data1:  Hungary
1 data1:
1 data1:  13527.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  13527.00
0 data1:  Iceland
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  India
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  20537897.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  20537897.00
0 data1:  Indonesia
1 data1:
1 data1:  139054.00
2 data1:  145238.00
3 data1:  147278.00
4 data1:  ..
5 data1:  132963.00
6 data1:  ..
7 data1:  ..
0 data1:  Iran Islamic Republic of
1 data1:
1 data1:  270292.00
2 data1:  ..
3 data1:  228939.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Iraq
1 data1:
1 data1:  783867.00
2 data1:  ..
3 data1:  670191.00
4 data1:  487040.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Ireland
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Isle of Man
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Israel
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Italy
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  3826.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  3826.00
0 data1:  Jamaica
1 data1:
1 data1:  20147.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  20147.00
0 data1:  Japan
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Jersey
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Jordan
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  12642.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  12642.00
0 data1:  Kazakhstan
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  2371.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  2371.00
0 data1:  Kenya
1 data1:
1 data1:  1271774.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  1290638.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1271774.00
0 data1:
0 data1:  1290638.00
0 data1:  Kiribati
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Kuwait
1 data1:
1 data1:  ..
2 data1:  3162.00
3 data1:  ..
4 data1:  3192.00
5 data1:  3838.00
6 data1:  ..
7 data1:  ..
0 data1:  Kyrgyzstan
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  2599.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  2599.00
0 data1:  Lao Peoples Democratic Republic
1 data1:
1 data1:  ..
2 data1:  106236.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Latvia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  309.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  309.00
0 data1:  Lebanon
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  3009.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  3009.00
0 data1:  Lesotho
1 data1:
1 data1:  56208.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  56208.00
0 data1:  Liberia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  408816.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  408816.00
0 data1:  Libya
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Liechtenstein
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Lithuania
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Luxembourg
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Madagascar
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  1017012.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1017012.00
0 data1:  Malawi
1 data1:
1 data1:  803579.00
2 data1:  934377.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  803579.00
0 data1:
0 data1:  934377.00
0 data1:  Malaysia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  135139.00
4 data1:  153987.00
5 data1:  177089.00
6 data1:  ..
7 data1:  ..
0 data1:  Maldives
1 data1:
1 data1:  687.00
2 data1:  ..
3 data1:  1216.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Mali
1 data1:
1 data1:  ..
2 data1:  1668329.00
3 data1:  ..
4 data1:  ..
5 data1:  1831365.00
6 data1:  ..
7 data1:  ..
0 data1:  Malta
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  340.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  340.00
0 data1:  Marshall Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Martinique
1 data1:
1 data1:  92.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  92.00
0 data1:  Mauritania
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  297078.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  297078.00
0 data1:  Mauritius
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  1850.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1850.00
0 data1:  Mayotte
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Mexico
1 data1:
1 data1:  218651.00
2 data1:  232037.00
3 data1:  194917.00
4 data1:  193471.00
5 data1:  150913.00
6 data1:  ..
7 data1:  ..
0 data1:  Micronesia Federated States of
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Monaco
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Mongolia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  6289.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  6289.00
0 data1:  Montenegro
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  736.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  736.00
0 data1:  Montserrat
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Morocco
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  134010.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  134010.00
0 data1:  Mozambique
1 data1:
1 data1:  ..
2 data1:  1572889.00
3 data1:  ..
4 data1:  1659336.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Myanmar
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  1467758.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1467758.00
0 data1:  Namibia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  23564.00

6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  23564.00
0 data1:  Nauru
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Nepal
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  481015.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  481015.00
0 data1:  Netherlands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Netherlands Antilles
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  New Caledonia
1 data1:
1 data1:  317.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  317.00
0 data1:  New Zealand
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Nicaragua
1 data1:
1 data1:  ..
2 data1:  101976.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  101976.00
0 data1:  Niger
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  2439788.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  2439788.00
0 data1:  Nigeria
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  9364626.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  9364626.00
0 data1:  Niue
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Norfolk Island
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  North Macedonia
1 data1:
1 data1:  4009.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  4009.00
0 data1:  Northern Mariana Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Norway
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Oman
1 data1:
1 data1:  6055.00
2 data1:  5317.00
3 data1:  8441.00
4 data1:  8789.00
5 data1:  8843.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  6055.00
0 data1:  Pakistan
1 data1:
1 data1:  10860136.00
2 data1:  ..
3 data1:  ..
4 data1:  10534212.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Palau
1 data1:
1 data1:  ..
2 data1:  33.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Palestine
1 data1:
1 data1:  6177.00
2 data1:  6500.00
3 data1:  6138.00
4 data1:  ..
5 data1:  6679.00
6 data1:  ..
7 data1:  ..
0 data1:  Panama
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  6251.00
6 data1:  ..
7 data1:  ..
0 data1:  Papua New Guinea
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Paraguay
1 data1:
1 data1:  17228.00
2 data1:  18168.00
3 data1:  20953.00
4 data1:  ..
5 data1:  23056.00
6 data1:  ..
7 data1:  ..
0 data1:  Peru
1 data1:
1 data1:  55828.00
2 data1:  53798.00
3 data1:  60748.00
4 data1:  50951.00
5 data1:  51730.00
6 data1:  ..
7 data1:  ..
0 data1:  Philippines
1 data1:
1 data1:  ..
2 data1:  182462.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Pitcairn
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Poland
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Portugal
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  3614.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  3614.00
0 data1:  Puerto Rico
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  30793.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Qatar
1 data1:
1 data1:  24204.00
2 data1:  ..
3 data1:  17510.00
4 data1:  21164.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  24204.00
0 data1:
0 data1:  17510.00
0 data1:
0 data1:  21164.00
0 data1:  Republic of Korea
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Republic of Moldova
1 data1:
1 data1:  1156.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  RAunion
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Romania
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  11672.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  11672.00
0 data1:  Russian Federation
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  41868.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  41868.00
0 data1:  Rwanda
1 data1:
1 data1:  330792.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  326906.00
6 data1:  ..
7 data1:  ..
0 data1:  Saint Helena
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Saint Kitts and Nevis
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Saint Lucia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Saint Pierre and Miquelon
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Saint Vincent and the Grenadines
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  SaintBarthAlemy
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  SaintMartin French part
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Samoa
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  306.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  306.00
0 data1:  San Marino
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  n..
6 data1:  ..
7 data1:  ..
0 data1:  ..
1 data1:
0 data1:  Sao Tome and Principe
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  898.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  898.00
0 data1:  Saudi Arabia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  33779.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Senegal
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  922531.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Serbia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  3039.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Seychelles
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  122.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  122.00
0 data1:  Sierra Leone
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  517840.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  517840.00
0 data1:  Singapore
1 data1:
1 data1:  781.00
2 data1:  1712.00
3 data1:  575.00
4 data1:  527.00
5 data1:  515.00
6 data1:  ..
7 data1:  ..
0 data1:  Sint Maarten Dutch part
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Slovakia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Slovenia
1 data1:
1 data1:  325.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  325.00
0 data1:  Solomon Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Somalia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  South Africa
1 data1:
1 data1:  112983.00
2 data1:  104694.00
3 data1:  ..
4 data1:  464102.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  South Sudan
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  1156721.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1156721.00
0 data1:  Spain
1 data1:
1 data1:  12736.00
2 data1:  15685.00
3 data1:  17094.00
4 data1:  ..
5 data1:  12738.00
6 data1:  ..
7 data1:  ..
0 data1:  Sri Lanka
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  41137.00
4 data1:  35858.00
5 data1:  38104.00
6 data1:  ..
7 data1:  ..
0 data1:  Sudan
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  2295747.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  2295747.00
0 data1:  Sudan presecession
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Suriname
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  1341.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1341.00
0 data1:  Svalbard and Jan Mayen Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Sweden
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Switzerland
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Syrian Arab Republic
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Tajikistan
1 data1:
1 data1:  2047.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  2047.00
0 data1:  Thailand
1 data1:
1 data1:  ..
2 data1:  178931.00
3 data1:  ..
4 data1:  ..
5 data1:  176350.00
6 data1:  ..
7 data1:  ..
0 data1:  TimorLeste
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  45044.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  45044.00
0 data1:  Togo
1 data1:
1 data1:  ..
2 data1:  224210.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Tokelau
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Tonga
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  113.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  113.00
0 data1:  Trinidad and Tobago
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Tunisia
1 data1:
1 data1:  67069.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Turkey
1 data1:
1 data1:  83157.00
2 data1:  66166.00
3 data1:  49994.00
4 data1:  33225.00
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Turkmenistan
1 data1:
1 data1:  1725.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  1725.00
0 data1:  Turks and Caicos Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Tuvalu
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Uganda
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  939689.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  939689.00
0 data1:  Ukraine
1 data1:
1 data1:  ..
2 data1:  ..

3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  United Arab Emirates
1 data1:
1 data1:  ..
2 data1:  5651.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  5651.00
0 data1:  United Kingdom of Great Britain and Northern Ireland
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  United Republic of Tanzania
1 data1:
1 data1:  ..
2 data1:  1417168.00
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  United States of America
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  United States Virgin Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Uruguay
1 data1:
1 data1:  6027.00
2 data1:  5557.00
3 data1:  4375.00
4 data1:  5474.00
5 data1:  5697.00
6 data1:  ..
7 data1:  ..
0 data1:  Uzbekistan
1 data1:
1 data1:  2.00
2 data1:  2.00
3 data1:  n..
4 data1:  ..
5 data1:  4.00
6 data1:  ..
7 data1:  ..
0 data1:  ..
1 data1:
0 data1:  Vanuatu
1 data1:
1 data1:  2326.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  1974.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  2326.00
0 data1:
0 data1:  1974.00
0 data1:  Venezuela Bolivarian Republic of
1 data1:
1 data1:  ..
2 data1:  52573.00
3 data1:  63331.00
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Viet Nam
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  223705.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  223705.00
0 data1:  Wallis and Futuna Islands
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Western Sahara
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Yemen
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Zambia
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  285071.00
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  285071.00
0 data1:  Zimbabwe
1 data1:
1 data1:  267220.00
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:
0 data1:  267220.00
0 data1:  Sustainable Development Goal Regions
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  World
1 data1:
1 data1:  107832974.00
2 data1:  107205349.00
3 data1:  102121103.00
4 data1:  100038834.00
5 data1:  101284135.00
6 data1:  99401477.00
7 data1:  ..
0 data1:  Landlocked Developing Countries
1 data1:
1 data1:  22814903.00
2 data1:  22809050.00
3 data1:  22814172.00
4 data1:  22441838.00
5 data1:  22775100.00
6 data1:  22915292.00
7 data1:  ..
0 data1:  Least Developed Countries
1 data1:
1 data1:  47026464.00
2 data1:  46543055.00
3 data1:  45453544.00
4 data1:  44917482.00
5 data1:  45189536.00
6 data1:  44958386.00
7 data1:  ..
0 data1:  Small Island Developing States
1 data1:
1 data1:  1230337.00
2 data1:  1257369.00
3 data1:  1221833.00
4 data1:  1229261.00
5 data1:  1236841.00
6 data1:  1244380.00
7 data1:  ..
0 data1:
0 data1:  1229261.00
0 data1:
0 data1:  1236841.00
0 data1:
0 data1:  1244380.00
0 data1:  Africa SubSaharan
1 data1:
1 data1:  47702175.00
2 data1:  47986919.00
3 data1:  48316532.00
4 data1:  48498297.00
5 data1:  49117843.00
6 data1:  49720125.00
7 data1:  ..
0 data1:  Western Asia and Northern Africa
1 data1:
1 data1:  6604797.00
2 data1:  8909091.00
3 data1:  7231872.00
4 data1:  6799674.00
5 data1:  9490611.00
6 data1:  9386680.00
7 data1:  ..
0 data1:  Africa Northern
1 data1:
1 data1:  4144274.00
2 data1:  3967496.00
3 data1:  4906522.00
4 data1:  4662581.00
5 data1:  4491721.00
6 data1:  4392865.00
7 data1:  ..
0 data1:  Asia Western
1 data1:
1 data1:  2460522.00
2 data1:  4941594.00
3 data1:  2325350.00
4 data1:  2137093.00
5 data1:  4998890.00
6 data1:  4993815.00
7 data1:  ..
0 data1:  Asia Central and Southern
1 data1:
1 data1:  46111823.00
2 data1:  43269140.00
3 data1:  39859686.00
4 data1:  38246922.00
5 data1:  36338467.00
6 data1:  34191861.00
7 data1:  ..
0 data1:  Asia Central
1 data1:
1 data1:  9170.00
2 data1:  8884.00
3 data1:  8595.00
4 data1:  8338.00
5 data1:  8565.00
6 data1:  7976.00
7 data1:  ..
0 data1:  Asia Southern
1 data1:
1 data1:  46102653.00
2 data1:  43260256.00
3 data1:  39851091.00
4 data1:  38238584.00
5 data1:  36329902.00
6 data1:  34183885.00
7 data1:  ..
0 data1:  Asia Eastern and Southeastern
1 data1:
1 data1:  4130158.00
2 data1:  3837393.00
3 data1:  3670321.00
4 data1:  3512229.00
5 data1:  3446291.00
6 data1:  3280905.00
7 data1:  ..
0 data1:  Asia Eastern
1 data1:
1 data1:  1087139.00
2 data1:  1000237.00
3 data1:  927917.00
4 data1:  868271.00
5 data1:  821017.00
6 data1:  767553.00
7 data1:  ..
0 data1:  Asia Southeastern
1 data1:
1 data1:  3043019.00
2 data1:  2837156.00
3 data1:  2742403.00
4 data1:  2643958.00
5 data1:  2625274.00
6 data1:  2513351.00
7 data1:  ..
0 data1:  Latin America and the Caribbean
1 data1:
1 data1:  1925743.00
2 data1:  1846789.00
3 data1:  1710482.00
4 data1:  1664600.00
5 data1:  1578618.00
6 data1:  1517565.00
7 data1:  ..
0 data1:  Oceania
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Oceania AustraliaNew Zealand
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Oceania excl. AustraliaNew Zealand
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Northern America and Europe
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Europe
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Northern America
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  UIS Regions
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  World
1 data1:
1 data1:  107832974.00
2 data1:  107205349.00
3 data1:  102121103.00
4 data1:  100038834.00
5 data1:  101284135.00
6 data1:  99401477.00
7 data1:  ..
0 data1:  Arab States
1 data1:
1 data1:  6806940.00
2 data1:  9131870.00
3 data1:  7469253.00
4 data1:  7054377.00
5 data1:  9765866.00
6 data1:  9676025.00
7 data1:  ..
0 data1:  Central and Eastern Europe
1 data1:
1 data1:  227675.00
2 data1:  204878.00
3 data1:  168388.00
4 data1:  161934.00
5 data1:  149618.00
6 data1:  140416.00
7 data1:  ..
0 data1:  Central Asia
1 data1:
1 data1:  20002.00
2 data1:  19450.00
3 data1:  18604.00
4 data1:  18289.00
5 data1:  17009.00
6 data1:  15997.00
7 data1:  ..
0 data1:  East Asia and the Pacific
1 data1:
1 data1:  4851060.00
2 data1:  4572758.00
3 data1:  4416143.00
4 data1:  4268110.00
5 data1:  4212141.00
6 data1:  4058271.00
7 data1:  ..
0 data1:  Latin America and the Caribbean
1 data1:
1 data1:  1926021.00
2 data1:  1847094.00
3 data1:  1710776.00
4 data1:  1664889.00
5 data1:  1578901.00
6 data1:  1517844.00
7 data1:  ..
0 data1:  North America and Western Europe
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  South and West Asia
1 data1:
1 data1:  46102653.00
2 data1:  43260256.00
3 data1:  39851091.00
4 data1:  38238584.00
5 data1:  36329902.00
6 data1:  34183885.00
7 data1:  ..
0 data1:  SubSaharan Africa
1 data1:
1 data1:  47396852.00
2 data1:  47677667.00
3 data1:  48008741.00
4 data1:  48189316.00
5 data1:  48798221.00
6 data1:  49393246.00
7 data1:  ..
0 data1:  Small Island Developing States
1 data1:
1 data1:  1225714.00
2 data1:  1221185.00
3 data1:  1188356.00
4 data1:  1198568.00
5 data1:  1208705.00
6 data1:  1218261.00
7 data1:  ..
0 data1:
0 data1:  1198568.00
0 data1:
0 data1:  1208705.00
0 data1:
0 data1:  1218261.00
0 data1:  World Bank Income Groups
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..
0 data1:  Low income countries
1 data1:
1 data1:  35232883.00
2 data1:  35451985.00
3 data1:  35675123.00
4 data1:  35510053.00
5 data1:  35997906.00
6 data1:  36368991.00
7 data1:  ..
0 data1:
0 data1:  36368991.00
0 data1:  Lower middle income countries
1 data1:
1 data1:  67555014.00
2 data1:  64328856.00
3 data1:  61913370.00
4 data1:  59990172.00
5 data1:  57935946.00
6 data1:  55915557.00
7 data1:  ..
0 data1:  Middle income countries
1 data1:
1 data1:  71159912.00
2 data1:  70358113.00
3 data1:  65088456.00
4 data1:  63218522.00
5 data1:  64011695.00
6 data1:  61811318.00
7 data1:  ..
0 data1:  Upper middle income countries
1 data1:
1 data1:  3604897.00
2 data1:  6029257.00
3 data1:  3175086.00
4 data1:  3228350.00
5 data1:  6075749.00
6 data1:  5895761.00
7 data1:  ..
0 data1:  High income countries
1 data1:
1 data1:  ..
2 data1:  ..
3 data1:  ..
4 data1:  ..
5 data1:  ..
6 data1:  ..
7 data1:  ..

In [37]:
row_number = 188
print(col[0][1][row_number],col[1][1][row_number],col[2][1][row_number],col[3][1][row_number],col[4][1][row_number],col[5][1][row_number],col[6][1][row_number],col[7][1][row_number])


'''
Data is in the form of:
col[0][1] = List of Countries
col[1][1] = Value for 2014
col[2][1] = Value for 2015
col[3][1] = Value for 2016
col[4][1] = Value for 2017
col[5][1] = Value for 2018
col[6][1] = Value for 2019
col[7][1] = Value for 2020

Fetching appropriate data row is by:
col[0][1][row_number],col[1][1][row_number],col[2][1][row_number],col[3][1][row_number],col[4][1][row_number],col[5][1][row_number],col[6][1][row_number],col[7][1][row_number]

The result would be:


'''

San Marino .. .. .. .. n.. .. ..

'\nData is in the form of:\ncol[0][1] = List of Countries\ncol[1][1] = Value for 2014\ncol[2][1] = Value for 2015\ncol[3][1] = Value for 2016\ncol[4][1] = Value for 2017\ncol[5][1] = Value for 2018\ncol[6][1] = Value for 2019\ncol[7][1] = Value for 2020\n\nFetching appropriate data row is by:\ncol[0][1][row_number],col[1][1][row_number],col[2][1][row_number],col[3][1][row_number],col[4][1][row_number],col[5][1][row_number],col[6][1][row_number],col[7][1][row_number]\n\nThe result would be:\n\n\n'

In [38]:
##<a class="q" href="#" qid="3839">Illiterate population</a>



# results1 = soup.find(id='Country or Area')
# results2 = soup.find(id='Year')
# results3 = soup.find(id='Value')

# emissions = pd.DataFrame(column)

In [39]:
print([len(C) for (title,C) in col])

print(len(col[6][1]))

Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

df

[280, 280, 280, 280, 280, 280, 280, 280]
280

,Time,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,..,..,..,..,2791022.00,..,..
1,Aland Islands,..,..,..,..,..,..,..
2,Albania,..,..,..,..,3076.00,..,..
3,Algeria,..,..,..,..,156217.00,..,..
4,American Samoa,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...
275,Low income countries,35232883.00,35451985.00,35675123.00,35510053.00,35997906.00,36368991.00,..
276,Lower middle income countries,67555014.00,64328856.00,61913370.00,59990172.00,57935946.00,55915557.00,..
277,Middle income countries,71159912.00,70358113.00,65088456.00,63218522.00,64011695.00,61811318.00,..
278,Upper middle income countries,3604897.00,6029257.00,3175086.00,3228350.00,6075749.00,5895761.00,..
279,High income countries,..,..,..,..,..,..,..